body, html, #root {
  margin: 0;
  padding: 0;
  height:100vh;
  width:100vw;
  overflow: hidden;
  font-family: 'Exo', sans-serif;
}

body {
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.half {
  flex-basis:50%;
}

.grow {
  flex: 1;
}

.flex {
  display: flex
}

.fullwidth {
  width:100%;
  height:100%;
}

.center {
  justify-content: center;
  align:center;
}
.row {
  display: flex;
}

