

.cards-wrapper .card-wrapper, .empty-wrapper {
	position:relative;
	padding:.4rem;
}

.cards-wrapper {
	display: flex;
}

.card, .empty-wrapper .empty {
	width: 6.25rem;
    height: 9.3rem;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    box-shadow: inset 0 0 0 5px #fff, 0 1px 0px #00000055;
    font-size: 4.3rem;
    color:#fff;
    font-weight: 900;
    &[data-color='unknown'] {
		background-color:scale-color($bg-color, $lightness: -20%);
		background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
		radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
		background-size:2.5rem 2.5rem;
		background-position:0 0, 20px 20px;
		cursor: pointer;
		& .hint.color {
			box-shadow: 0 2px 3px rgba(0,0,0,0.5);
		}
	}
	& .number {
		color:$primary-color;
	}
	& .hint {
		width: 30%;
	    height: 2rem;
	    position: absolute;
	    top:-.2rem;
		border-radius: 5px 5px 15px 15px;
	    border: 3px solid #fff;
	    
	    &.color{
			left: 15%;
	    }
	    &.value{
	    	right: 15%;
		    background: white;
		    color: $primary-color;
		    font-size: 1.3rem;
		    text-shadow: none;
		    display: flex;
		    justify-content: center;
		    align-items:center;
		    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	    }
	}
}

@each $name, $color in $colors {
  .card[data-color=#{$name}] {
    background-color: $color;
	text-shadow: 0 3px 0 scale-color($color, $lightness: -10%);
  }
}

@each $name, $color in $colors {
  .card .hint.#{$name} {
    background-color: $color;
	box-shadow: 0 2px 3px scale-color($color, $lightness: -20%);
  }
}

.empty-wrapper .empty {
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%235553C0FF' stroke-width='10' stroke-dasharray='5 20' stroke-dashoffset='22' stroke-linecap='square'/%3e%3c/svg%3e");
}


.card-wrapper.selected {
	transform: translateY(-.5rem);
	& .card {
	 	box-shadow: inset 0 0 0 5px #fff, 0 0 0 3px $selected,0 15px 30px #29268F;
	}
}

.card-wrapper.dragging {
	& .card {
	 	box-shadow: inset 0 0 0 5px #fff, 0 15px 30px #29268F;
	 	cursor: grabbing;
	}
}


// @keyframes draw {
//   0% {transform: scale(0);}
//   100% {transform: scale(1);}
// }

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

	.number-of-players-4 {
		& #playing-area {
			flex-basis: 60%;
		}
		& #players-area {
			flex-basis: 40%;
		}
		& .card, & .empty-wrapper .empty {
			width: 6rem;
	    	height: 9rem;
		}
		& .cards-wrapper .card-wrapper, .empty-wrapper {
			padding:.2rem .4rem;
		}
		& .player-info {
		    font-size: 13px;
		    height: 18px;
		}
	}

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
	
	#playing-area {
		flex-basis: 60%;
	}
	#players-area {
		flex-basis: 40%;
	}

	.number-of-players-4 {
		& .card, & .empty-wrapper .empty {
			width: 5rem;
	    	height: 7rem;
		}
		& .cards-wrapper .card-wrapper, .empty-wrapper {
			padding:.2rem .4rem;
		}
		& .player-info {
		    font-size: 13px;
		    height: 18px;
		}
	}

	.number-of-players-3 {
		& .card, & .empty-wrapper .empty {
			width: 6rem;
	    	height: 9rem;
		}
		& .cards-wrapper .card-wrapper, .empty-wrapper {
			padding:.2rem .4rem;
		}
		& .player-info {
		    font-size: 13px;
		    height: 18px;
		}
	}

}



@media only screen and (max-width: 768px) {
	
	.cards-wrapper {
	    justify-content: center;
	}

}

@media only screen and (max-width: 620px) {
	.card, .empty-wrapper .empty {
		width: 15vw;
	    @include keep-ratio(15,2,3);
	    font-size: 13vw;
	}

	.card {
		& .hint {
			width: 6vw;
		    height: 6vw;

		    &.color{
				left: 2vw;
		    }
		    &.value{
		    	right: 2vw;
		    	font-size: 4vw;	  
		    }
		}
	}
}

@media only screen and (max-width: 480px) {
	.cards-wrapper .card-wrapper, .empty-wrapper {
	    padding: .2rem;
	}
}


