#game {
	width:100%;
	height:100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
    margin: 0 auto;
}

.hand {
	display: flex;
	justify-content: center;
    z-index: 6;
    flex-direction: column;
	position: relative;
    margin-bottom: 30px;
}

#playing-area {
    display: flex;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#players-area {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-info {
   	position: absolute;
    top: -20px;
    height: 20px;
    left: 15px;
    background-color: $primary-color;
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.section {
	border: 10px solid $primary-color;
    border-radius: 20px;
	padding:15px;
	justify-content: center;
    align-content: center;
    display: flex;
    margin: 10px;
    position: relative;
    & .title {
	    position: absolute;
	    bottom: -30px;
	    text-transform: uppercase;
	    color: $primary-color;
    }
    &:hover {
    	border: 10px solid scale-color($primary-color, $lightness: 5%);
    }
    &:hover .title {
    	color: scale-color($primary-color, $lightness: 5%);
    }
    &.selectable {
    	border-color: $selectable;
    	cursor: pointer;
    	& .title {
			color: $selectable;
		}
    	&:hover {
    		border-color: scale-color($selectable, $lightness: 50%);
	    	background-color: scale-color($bg-color, $lightness: 5%);
    		& .title {
				color: scale-color($selectable, $lightness: 50%);
			}
    	}
		
    }
}


.section.currentTurn {
    border-color: scale-color($primary-color, $lightness: 90%);
    box-shadow: 0 15px 30px #29268F;

}

.section.currentTurn .player-info {
	background-color: scale-color($primary-color, $lightness: 90%);
	color:$primary-color;
}



