#game {
	width:100%;
	height:100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
    margin: 0 auto;
}

#game * {
	box-sizing: border-box;
}

#table {
	flex:1;
	justify-content: center
}
.hand {
	display: flex;
	justify-content: center;
    z-index: 6;
    flex-direction: column;
	position: relative;
    margin-bottom: 30px;
}

#playing-area {
    display: flex;
    width: 100%;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#players-area {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-info {
   	position: absolute;
    top: -20px;
    height: 20px;
    left: 15px;
    background-color: $primary-color;
    padding: 5px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 700;
    box-sizing: content-box !important;
}

.section {
	padding:15px 25px;
	justify-content: center;
    align-content: center;
    display: flex;
    margin: 10px;
    position: relative;
    &.border {
    	padding:15px;
		border: 10px solid $primary-color;
	    border-radius: 20px;
	    & .title {
		    position: absolute;
		    bottom: -30px;
		    left:15px;
		    text-transform: uppercase;
		    color: $primary-color;
		    font-weight: 700;
	    }
	    &:hover {
	    	border: 10px solid scale-color($primary-color, $lightness: 5%);
	    	& .player-info {
		    	background-color: scale-color($primary-color, $lightness: 5%);
		    }
		    & .title {
		    	color: scale-color($primary-color, $lightness: 5%);
		    }
	    }
	    &.selectable {
	    	border-color: $selectable;
	    	cursor: pointer;
	    	& .title {
				color: $selectable;
			}
	    	&:hover, &.droppable {
	    		border-color: scale-color($selectable, $lightness: 50%);
		    	background-color: scale-color($bg-color, $lightness: 5%);
	    		& .title {
					color: scale-color($selectable, $lightness: 50%);
				}
	    	}
	    	& .player-info {
		    	background-color: $selectable;
		    }
	    }
	    &.currentTurn {
		    border-color: scale-color($primary-color, $lightness: 90%);
		    box-shadow: 0 15px 30px #29268F;
		    & .player-info {
		    	background-color: scale-color($primary-color, $lightness: 90%);
				color:$primary-color;
		    }
		}
	}
}


@media only screen and (max-width: 970px) {
  #game {
  	flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
	
	#game, #players-area, #playing-area {
		justify-content: flex-start;
		align-items: flex-start;
	}

	#players-area, #playing-area {
		width:100%;
		margin:0;
		padding:10px;
	}
	
	.content {
		width:100%;
	}

	.section {
		width:100%;
		margin: 10px 0;
	}
	.row {
		flex-direction: column;
	}
}

