#hints {
	max-width:400px;
	width:100%;
	flex-direction: column;
}

#hints .hint {
	width:65px;
	height:65px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 6px 0 $primary-color, 0 0 0 1px $primary-color;
	margin:6px 4px;
	color:$primary-color;
	font-size:25px;
	font-weight: 700;
	&.selected {
		box-shadow: 0 0 0 4px $selected;
		transform: translateY(-5px);
	}
}

// @each $name, $color in $colors {
//   #hints .hint.#{$name} {
//     background-color: $color;
//   }
// }