#hints {
	max-width:400px;
	width:100%;
	flex-direction: column;
}

#hints .hint {
	width:65px;
	height:65px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 6px 0 $primary-color, 0 0 0 1px $primary-color;
	margin:6px 4px;
	color:$primary-color;
	font-size:25px;
	font-weight: 700;
	cursor: pointer;
    position: relative;
	&:hover {
		background-color: scale-color($primary-color, $lightness: 90%);
	}
	&.selected {
		box-shadow: 0 0 0 4px $selected;
		transform: translateY(-5px);
		&:hover {
			background-color: #fff;
		}
	}
}

.symbol:after {
	content: '';
	position: absolute;
	width:4vw;
	height:4vw;
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
}

.symbol.red:after {
	background-color: $red;
}

.symbol.blue:after {
	background-color: $blue;
}

.symbol.green:after {
	background-color: $green;
}

.symbol.yellow:after {
	background-color: $yellow;
}

.symbol.white:after {
	background-color: $white;
}



// @each $name, $color in $colors {
//   #hints .hint.#{$name} {
//     background-color: $color;
//   }
// }

