body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'variables';
@import 'App';
@import 'Button';
@import 'Card';
@import 'Deck';
@import 'Game';
@import 'Hints';
@import 'Token';
@import 'Symbols';
@import 'Log';
@import 'Popup';