body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'variables';
@import 'App';
@import 'Join';
@import 'Lobby';
@import 'Button';
@import 'Card';
@import 'Deck';
@import 'Game';
@import 'Hints';
@import 'Token';
@import 'Symbols';
@import 'Log';
@import 'Popup';