.form-wrapper {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5% auto;
    & form {
    	padding:20px;
	    box-sizing: border-box;
	    & label {
	    	font-size: 14px;
	    	text-transform:uppercase;
	    	color:white;
	    }
	    & input {
	    	width:100%;
	    	padding: 20px;
	    	margin:5px 0;
	    	box-sizing: border-box;
	    	border-radius: 3px;
	    	border:none;
	    }
	    & a {
	    	& .button-outer {
		    	margin:5px 0;
		    	padding: 0
		    }
    	}
    }
    .logo {
		position: relative;
		top: 0;
    	left: 0;
    	width:100%;
    	margin-bottom:20px;
    }
    
}

.copyright-section {
	font-size: 10px;
	text-align: center;
	color: $primary-color;
}