
@media only screen and (max-width: 1920px) {
	#log {
		transform: translateX(200px);
	}
}

// LAPTOP HiDPI
@media only screen and (max-width: 1440px) {
	
	#game {
		& .card, & .empty-wrapper .empty, & .card-pile {
			width: 6vw;
	    	@include keep-ratio(6,2,3,vw);
	    	font-size: 5vw;
		}
		& #hints .hint {
			width:4vw;
			height:4vw;
		}
		& .token {
		    width: 5vw;
		    height: 5vw;
		    font-size: 2vw;
		}
		& .deck .number {
		    width: 3vw;
		    height: 3vw;
		    font-size: 2vw;
		}
		& .symbol:after {
			width: 2.5vw;
			height: 2.5vw;
		}
	}
	
	#game.number-of-players-5, #game.number-of-players-4 {
		
		& .card, & .empty-wrapper .empty, & .card-pile {
			width: 5vw;
	    	@include keep-ratio(5,2,3,vw);
	    	font-size: 4vw;
		}
		& .cards-wrapper .card-wrapper, .empty-wrapper {
			padding:.1rem .4rem;
		}
		& .player-info {
		    font-size: 13px;
		    height: 12px;
		    top: -16px;
    		line-height: 13px;
		}
		& #players-area .section {
		    margin: 10px 10px;
		    padding:8px 5px;
		}

	}
	
	#game.number-of-players-5 {
		
		& #players-area .section {
		    margin: 7px 10px;
		}

	}

	
}


// LAPTOP MDPI

@media only screen and (max-width: 970px) {
	  body, html, #root {
	    overflow-y: scroll;
	  }
	
	.logo {
	    position: relative;
	} 

	   #game.general {
		  	flex-direction: column;
		  	margin-top:100px;
		    justify-content: flex-start;
		    & #playing-area, & #players-area {
		    	width:100%;
		    	flex-basis: 100%;
		    	align-items: center;
		    	margin:0;
	    	    min-height: auto;
	    	    padding:10px;
		    }
			& #players-area {
			    margin-top: 20px;
			}
			& .card, & .empty-wrapper .empty, & .card-pile {
				width: 10vw;
		    	@include keep-ratio(10,2,3,vw);
		    	font-size: 8vw;
			}
			& #hints .hint {
				width:6vw;
				height:6vw;
			}
			& .symbol:after {
				width: 4vw;
				height: 4vw;
			}
			& .token {
			    width: 8vw;
			    height: 8vw;
			    font-size: 4vw;
			}
			& .deck .number {
			    width: 6vw;
			    height: 6vw;
			    font-size: 4vw;
			}

	  	}
	
	
}

// IPAD
@media only screen and (max-width: 768px) {
	
	.logo {
	    width:170px;
	} 

	#game.general {

		& .cards-wrapper {
		    justify-content: center;
		}

		& #discard {
			margin-right:2vw;
		}
		
		& .section {
			margin: 10px 0;
			justify-content: center;
		}

		& .row {
			flex-basis: 50%;
		}

		& .tokens.note .token {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%235553C0FF' stroke-width='5' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
		}

		& .tokens.storm .token {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23F4433699' stroke-width='5' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
		}
	
	}
}

@media only screen and (max-width: 620px) {
	
	#game.general {

		& .content {
			width:100%;
		}

		& .card, .empty-wrapper .empty, & .card-pile {
			width: 15vw;
		    @include keep-ratio(15,2,3,vw);
		    font-size: 13vw;
		    border-radius: 1vw;
		}
		& 	.card {
		    box-shadow: inset 0 0 0 .8vw #fff, 0 1px 0px #00000055;
			& .hint {
				width: 6vw;
			    height: 6vw;

			    &.color{
					left: 2vw;
			    }
			    &.value{
			    	right: 2vw;
			    	font-size: 4vw;	  
			    }
			}
		}
		& 	.deck .number {
		    width: 10vw;
		    height: 10vw;
		    font-size: 5vw;
		}
		& .empty-wrapper .empty {
			box-sizing: border-box;
		    background-image: none;
		    border: 1vw dashed $primary-color;
		}

		& .card-wrapper.selected {
			transform: translateY(-.5rem);
			& .card {
			 	box-shadow: inset 0 0 0 .8vw #fff, 0 0 0 3px $selected,0 15px 30px #29268F;
			}
		}

		& .card-wrapper.dragging {
			& .card {
			 	box-shadow: inset 0 0 0 .8vw #fff, 0 15px 30px #29268F;
			 	cursor: grabbing;
			}
		}
		& .card-pile {
		    margin: 0px 1vw;
		}

		& #hints .hint {
			width: 10vw;
		    height: 10vw;
		    font-size: 6vw;
		    margin: 1vw;
		    box-shadow: 0 1vw 0 #5553C0, 0 0 0 1px #5553C0;
		    border-radius: 10%;
		}
		
		& .symbol:after {
			width: 6vw;
			height: 6vw;
		}
	}



}

@media only screen and (max-width: 480px) {

	#game.general {
		& .cards-wrapper .card-wrapper, & .empty-wrapper {
	    	padding: .2rem;
		}

		& .section.border {
		    padding: 2vw;
		    border-width: 2vw;
	        border-radius: 3vw;
		}

		& .section.border .title {
		    font-size: 2.5vw;
		    bottom: -5.5vw;
		}
	}

}


