.popup-wrapper, .popup-wrapper > .background {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 10;
}

.popup-wrapper > .background {
    background-color: rgba(0,0,0,.8);
    backdrop-filter:blur(2px);
    z-index: 1;
    opacity: 1;
    transition: all 1s ease;
}

.popup-wrapper > .popup {
  max-width: 500px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 300px;
  opacity: 1;
  transition: all 1s ease;
}

.popup-wrapper .popup .popup-inner {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 20px;
}

#fireworks {
  width:100%;
  height:100%;
  position: absolute;
  z-index: 2;
}

.popup .score {
  background-color: $primary-color;
  padding:10px 30px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top:-30px;
  font-size:24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.popup .result {
  padding: 20px 0;
  font-size: 21px
}

.popup .stars {
  display: flex;
  justify-content: center;
  & img {
    width:14%;
    margin: 0 5px;
  }
}