#tokens {
	display: flex;
    font-size: 30px;
    font-weight: 700;
}

#tokens > .tokens {
	display: flex;
	align-items: flex-end;
	padding:10px;
}

.token {
	width:70px;
	height:70px;
	background-color: #aaaaaa;
	border-radius: 50%;
	box-shadow: 0 1px 2px #000, inset 0 1px 0 #ffffff55, inset 0 -1px 0 #00000055, ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tokens.note .token {
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%235553C0FF' stroke-width='20' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
background-color: $note;
color:$primary-color;
}

.tokens.storm .token {
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23F4433699' stroke-width='20' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
background-color: #333;
color:#F44336;
}

