@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,900;1,500;1,700&display=swap');

$bg-color: #4946A1;
$primary-color: #5553C0;
$blue: #03A9F4;
$red: #F44336;
$yellow: #FFC107;
$green: #8BC34A;
$white: #D5D5D5;
$note: #80cbc4;
$selectable: #8c9eff;
